<style>
        body {
            font-family: 'Open Sans', sans-serif;
            background-color: transparent;
            margin: 0;
            padding: 0;
        }

        #container {
            width: 1000px;
            height: 550px;
            background-image: linear-gradient(rgba(215, 168, 168, 0.3), rgba(0, 0, 0, 0.3));
            margin: 20px auto;
            position: relative;
        }

        #calculator {
            width: 320px;
            height: 520px;
            background-color: transparent;
            margin: 0 auto;
            top: 20px;
            position: relative;
            border-radius: 50px 0 50px 0;
            box-shadow: 0 4px 8px 0 rgb(190, 148, 148), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #result {
            height: 120px;
        }

        #history {
            text-align: right;
            height: 20px;
            margin: 0 20px;
            padding-top: 20px;
            font-size: 15px;
            color: transparent;
        }

        #output {
            text-align: right;
            height: 60px;
            margin: 10px 20px;
            font-size: 30px;
        }

        #keyboard {
            height: 400px;
        }

        .operator, .number, .empty {
            width: 50px;
            height: 50px;
            margin: 15px;
            float: left;
            border-radius: 50% 0 50;
            border-width: 0;
            font-weight: bold;
            font-size: 15px;
        }

        .number, .empty {
            background-color: transparent;
            border-color: #d11e1e;
        }

        .number, .operator {
            cursor: pointer;
        }

        .operator:active, .number:active {
            font-size: 13px;
        }

        .operator:focus, .number:focus, .empty:focus {
            outline: 0;
        }

        button:nth-child(4) {
            font-size: 20px;
            background-color: #20b2aa;
        }

        button:nth-child(8) {
            font-size: 20px;
            background-color: #ffa500;
        }

        button:nth-child(12) {
            font-size: 20px;
            background-color: #f08080;
        }

        button:nth-child(16) {
            font-size: 20px;
            background-color: #7d93e0;
        }

        button:nth-child(20) {
            font-size: 20px;
            background-color: #ffffff;
        }

        #video-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        #calculator-title {
            text-align: center;
            font-size: 80px;
            color: #441c1ccc;
            margin: 20px auto;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.925);
            
        }
        
        #calculator-title {
            text-align: center;
            font-size: 80px;
            color: #000000cc;
            margin: 20px auto;
            
        }
    </style>
